In [ ]:
import sys
!{sys.executable} -m pip install chart_studio

In [2]:
import numpy as np
import pandas as pd
import chart_studio.plotly as pl
from assets.fileexplorer import fileExplorer

In [3]:
options = {"Welcome": "Select an option to get started", "1": "Plot a randomly generated data of give a dimensions", "2": "Create your own data and plot it", "3": "Upload a data file and plot the data"}

In [4]:
for i,j in options.items():
    print(f'{i}: {j}')

Welcome: Select an option to get started
1: Plot a randomly generated data of give a dimensions
2: Create your own data and plot it
3: Upload a data file and plot the data

In [5]:
def random_data(row, col):
    x = np.random.rand(row, col)
    df = pd.DataFrame(x)
    return df

In [6]:
def create_data(row, col):
    # set up column headers
    x = [0 for c in range(col)]
    print('Enter the Column headers:')
    for i in range(len(x)):
        x[i]= input()
        i += 1
    # get row values
    print('Insert the values for each row')
    rows = []
    for i in range(row):
        print(f'Values for row {i+1}')
        row_value = [input(f'Column {c+1}: ') for c in range(col)]
        rows.append(row_value)
    n_rows = np.array(rows)
    df = pd.DataFrame(n_rows, columns=x)
    return df

In [20]:
def upload_data():
    print('Select your data:')
    ex_formats = ['xls', 'xlsx', 'xlsm', 'xlsb', 'odf', 'ods', 'odt']
    file_path = fileExplorer()
    if file_path.endswith('csv'):
        x = pd.read_csv(file_path)
    elif [True for f in ex_formats if file_path.endswith(f)][0]:
        x = pd.read_excel(file_path)
    elif file_path.endswith('json'):
        x = pd.read_json(file_path)
    else:
        print('File Type is not supported!')
    if 'x' in locals():
        df = pd.DataFrame(x)
        'File Upload su'
        return df

In [21]:
print(upload_data().head())

Select your data
   SALES_ID SALES_REP               EMAILS       BRANDS  PLANT_COST  \
0     10101   Jardine       jard@gmail.com       trophy         150
1     10102      Gill      gillhell@uk.com    budweiser         250
2     10103   Sorvino  sorvi2000@gmail.com  castle lite         180
3     10104     Jones    jone.ai@yahoo.com  eagle lager         170
4     10105   Andrews       andy@gmail.com         hero         150

   UNIT_PRICE  QUANTITY    COST  PROFIT COUNTRIES     REGION     MONTHS  YEARS
0         200       725  145000   36250     Ghana   Southeast   January   2019
1         500       815  407500  203750   Nigeria        west  February   2018
2         450       937  421650  252990      Togo  southsouth     March   2018
3         250       765  191250   61200     Benin   northwest     April   2018
4         200       836  167200   41800   Senegal  northeast        May   2017